/*  menu  */
.top-menu{
    height: 120px;
    position: fixed;
    float: none;
    top: 0;
    right: 0;
    z-index: 100;
    transition: all .4s ease;
}

.toggle{
    width: 22px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 50px;
    margin-top: -10px;
    z-index: 1000;
    cursor: pointer;
}

.toggle .l1 {
    top: 0;
}

.toggle .l2 {
    top: 9px;
}

.toggle .l3 {
    bottom: 0;
}

.toggle .l4 {
    top: 9px;
    transform: skew(-25deg, 40deg);
    background: #111111;
}

.toggle .l5 {
    top: 9px;
    transform: skew(25deg, -40deg);
    background: #111111;
}

.toggle:hover {
    transform: rotate( 720deg );
}

/*.toggle:hover {display: none;}
.toggle .l2:hover {display: none;}
.toggle .l3:hover {display: none;}
.toggle .l4:hover {top: 9px;transform: skew(-25deg, 25deg);}
.toggle .l5:hover {top: 9px;transform: skew(25deg, -25deg);}*/

.toggle span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.toggle, .toggle span {
    display: block;
    transition: all .4s ease;
    box-sizing: border-box;
}

.menu_container{
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    width: 582px;
    height: 100%;
    background: #FFFFFF;
    padding: 60px;
    visibility: hidden;
}

.menu_container_inner{
    display: table-cell;
    vertical-align: middle;
}

.menu > li > a {
    padding: 7.5px 0;
    font-size: 30px;
    line-height: 1.5;
    text-align: left;
    position: relative;
    text-decoration: none;
}
.menu a {
    display: block;
    font-weight: 400;
    color: #222;
}

.menu a:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -9px;
    font-family: 'jt-font';
    content: '\e903';
    font-size: 22px;
    line-height: 1;
    color: #0b21ee;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 0;
    visibility: hidden;
}

.menu > li > a > span {
    position: relative;
}

.menu span {
    display: block;
}

.menu span:hover {
    color: #0b21ee;
}

/*.menu-item a{
    color: #0b21ee;
    padding-left: 36px;
}*/

.menu_on {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    display: table;
    visibility: inherit;
    transform: matrix(1, 0, 0, 1, 30, 0);
}

@keyframes fadein {
     from {
         opacity:0;
     }
     to {
         opacity:1;
         display: table;
         visibility: inherit;
         transform: matrix(1, 0, 0, 1, 30, 0);
     }
 }

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
        display: table;
        visibility: inherit;
        transform: matrix(1, 0, 0, 1, 30, 0);
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
        display: table;
        visibility: inherit;
        transform: matrix(1, 0, 0, 1, 30, 0);
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
        display: table;
        visibility: inherit;
        transform: matrix(1, 0, 0, 1, 30, 0);
    }
}

.menu_off {
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
}

@keyframes fadeout {
    from {
        opacity:1;
        display: table;
        visibility: inherit;
        transform: matrix(1, 0, 0, 1, 30, 0);
    }
    to {
        opacity:0;
        display: table;
        visibility: hidden;
    }
}

@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:1;
        display: table;
        visibility: inherit;
        transform: matrix(1, 0, 0, 1, 30, 0);
    }
    to {
        opacity:0;
        display: table;
        visibility: hidden;
    }
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
        display: table;
        visibility: inherit;
        transform: matrix(1, 0, 0, 1, 30, 0);
    }
    to {
        opacity:0;
        display: table;
        visibility: hidden;
    }
}

@-o-keyframes fadeout { /* Opera */
    from {
        opacity:1;
        display: table;
        visibility: inherit;
        transform: matrix(1, 0, 0, 1, 30, 0);
    }
    to {
        opacity: 0;
        display: table;
        visibility: hidden;
    }
}

/*  menu  */

/*  main-view  */
#view {
    position: relative;
}

.wrap {
    width: 100%;
    float: right;
}

.view-video {
    border-right: none;
    border-left: none;
    position: relative;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
/*  main-view  */